html {
  /*min-height: 70%;
  max-height: 50%;
  max-width: 100%;
  height: 100%;
  width: 30%;*/
  float: left;
  padding: 10px;
  max-width: 300px;
  height: 300px;
}

body {
  font-family: Oswald, sans-serif, Arial;
  font-size: 11px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
}

.nav {
  height: 45px;
  position: fixed;

  -webkit-transform-origin: left top;
  -webkit-transform: rotate(-90deg) translateX(-100%);

  -moz-transform: rotate(90deg);
  -moz-transform-origin: bottom left;
}

.nav input {
  height: 2.5em;
  visibility: hidden;
}

.nav label {
  /* Fondo de las pestañas */
  border-radius: 0.5em;
  border: .15em;
  border-style: solid;
  border-color: #000000;
  padding: .255em;
  color: #888;
  /* Color del texto de las pestañas */
  cursor: pointer;
  display: block;
  float: right;
  font-size: 1em;
  /* Tamaño del texto de las pestañas */
  height: 2em;
  line-height: 2.5em;
  /*margin-right: -0.2em;*/
  text-align: center;
}

.label {
  font-weight: normal;
  color: #000000;
  background-color: #EDEDED;
  border: 1px solid #000000;
  letter-spacing: 0pt;
padding-bottom: 2px;
  padding-left:26px;
  padding-right:26px;
padding-bottom: 5px;
  font-size: 12px;
  text-align: center;
  font-family: arial, helvetica, sans-serif;
  line-height: 1;
  border-radius: 0.5em;
}

.label:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.nav input:checked+label {
  background: #ddd;
  /* Fondo de las pestañas al presionar */
  color: #444;
  /* Color de las pestañas al presionar */
  position: relative;
  z-index: 6;
}

.header {
  clear: both;
  width: 100%;
}

.right {
  border-radius: 0.5em;
  border-style: solid;
  border-color: #000000;
  display: inline-block;
  margin-left: 3.7em;
  min-height: 100%;
  max-height: 100%;
  max-width: 150%;
  height: 100%;
  width: 150%;
}