<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('ZF2 '. $this->translate('TukPorto'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/tuk.ico'))
                        ->prependStylesheet($this->basePath('css/style.css'))
                        ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
                        ->prependStylesheet($this->basePath('css/bootstrap.min.css')) ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath('js/bootstrap.min.js'))
            ->prependFile($this->basePath('js/jquery.min.js'))
            ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath('js/html5shiv.js'),   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $this->url('percurso') ?>"><img src="<?php echo $this->basePath('img/tuk.png') ?>" alt="Zend Framework 2"/>&nbsp;
                    <?php echo $this->translate('TukPorto') ?></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                    <?php if (isset($_SESSION['turista'])): ?>
                    	<?php if ($_SESSION['turista']==1000): ?>
                        	<li class="active"><a href="<?php echo $this->url('auth',array('action' => 'turistas')) ?>"><?php echo $this->translate('Turistas') ?></a></li>
                   			<li class="active"><a href="<?php echo $this->url('auth',array('action' => 'token')) ?>"><?php echo $this->translate('Token') ?></a></li>
                   		<?php endif;?>
                   		<li class="active"><a href="<?php echo $this->url('auth',array('action' => 'logout')) ?>"><?php echo $this->translate('Logout') ?></a></li>
 					<?php else:?>
 						<li class="active"><a href="<?php echo $this->url('auth',array('action' => 'login')) ?>"><?php echo $this->translate('Login') ?></a></li>
                   		<li class="active"><a href="<?php echo $this->url('auth',array('action' => 'registo')) ?>"><?php echo $this->translate('Registo') ?></a></li>
 					<?php endif;?>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            <?php echo $this->content; ?>
            <hr>
            <footer>
                <p>&copy; 2016 - <?php echo date('Y') ?> by Desgra&ccedil;a Technologies Ltd. <?php echo $this->translate('All rights reserved.') ?></p>
            </footer>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
