﻿@model IEnumerable<ClassLibrary.Models.Meteorologia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Local.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataLeitura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horaLeitura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.temp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.humidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pressao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NO2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CO2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Local.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataLeitura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaLeitura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.temp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.humidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pressao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NO2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CO2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
