<strong>Module:</strong>        Percurso &raquo;
<strong>Controller:</strong>    Percurso &raquo;
<strong>Action:</strong>        Consulta POI

<?php 

$vals = array(
    'Temperatura'=> array(
        'max'=>PHP_INT_MIN ,
        'min'=>PHP_INT_MAX
    ),
    'Humidade'=> array(
        'max'=>PHP_INT_MIN,
        'min'=>PHP_INT_MAX
    ),
    'Vento'=> array(
        'max'=>PHP_INT_MIN,
        'min'=>PHP_INT_MAX
    )
)

?>

<?php
$title = 'Consulta POI';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<h3>Dados os Ultimo dois dias</h3>

<table class="table">
 <tr>
     <th>Temperatura</th>
     <th>Humidade</th>
     <th>Vento</th>
     <th>Data</th>
     <th>&nbsp;</th>
 </tr>
 
 <?php 
 
 for ($i = 0; $i < count($temp); $i++) {
     echo '<tr>';
     echo '<td>'.$this->escapeHtml($temp[$i]->temp).'</td>';
     if($temp[$i]->temp>$vals['Temperatura']['max'])
         $vals['Temperatura']['max'] = $temp[$i]->temp;
     if($temp[$i]->temp<$vals['Temperatura']['min'])
         $vals['Temperatura']['min'] = $temp[$i]->temp;
     
     echo '<td>'.$this->escapeHtml($humidade[$i]->humidade).'</td>';
     if($humidade[$i]->humidade>$vals['Humidade']['max'])
         $vals['Humidade']['max'] = $humidade[$i]->humidade;
         if($humidade[$i]->humidade<$vals['Humidade']['min'])
             $vals['Humidade']['min'] = $humidade[$i]->humidade;
         
     echo '<td>'.$this->escapeHtml($vento[$i]->vento).'</td>';
     if($vento[$i]->vento>$vals['Vento']['max'])
         $vals['Vento']['max'] = $vento[$i]->vento;
         if($vento[$i]->vento<$vals['Vento']['min'])
             $vals['Vento']['min'] = $vento[$i]->vento;
     
     echo '<td>'.$this->escapeHtml(explode("T",$temp[$i]->data)[0]).'</td>';
     echo '</tr>';
 }
 ?>
 </table>
 
 <?php if (count($temp)>0): ?>
 <h3>Valores Maximos e minimos</h3>
 <table class="table">
 <tr>
     <th>&nbsp;</th>
     <th>Max</th>
     <th>Min</th>
     <th>&nbsp;</th>
 </tr>
 
 <?php 
    foreach ($vals as $key => $val){
        echo '<tr>';
        echo '<td>'.$this->escapeHtml($key).'</td>';
        echo '<td>'.$this->escapeHtml($val['max']).'</td>';
        echo '<td>'.$this->escapeHtml($val['min']).'</td>';
        echo '</tr>';
    }
 
 ?>
 </table>
 
 <?php endif;?>
 
 <a href="<?php echo $this->url('percurso',
            array('action'=>'pontospassagem','id'=>$percurso));?>">Voltar</a>
 
             
 
 