<strong>Module:</strong>        Percurso &raquo;
<strong>Controller:</strong>    Percurso &raquo;
<strong>Action:</strong>        edit 

<?php
// module/Percurso/view/percurso/percurso/delete.phtml:

$title = 'Delete percurso';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<p>Tem a certeza que pretende apagar o percurso</p>
<p>
    '<?php echo $this->escapeHtml($percurso->descricao); ?>' 
    </p><p>registado em: 
    '<?php echo $this->escapeHtml($percurso->data); ?>'?
</p>
<?php
$url = $this->url('percurso', array('action' => 'delete','id'=> $this->id,));
?>
<form action="<?php echo $url; ?>" method="post">
<div>
    <input type="hidden" name="id" value="<?php echo (int) $percurso->id; ?>" />
    <input type="submit" name="del" value="Yes" />
    <input type="submit" name="del" value="No " />
</div>
</form>

