<strong>Module:</strong>        Percurso &raquo;
<strong>Controller:</strong>    Percurso &raquo;
<strong>Action:</strong>        edit 

<?php

$title = 'Edit Percurso';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<?php
 $form->setAttribute('action', $this->url(
    'percurso',
    array(
        'action' => 'edit',
        'id'     => $id,
    )
));
 $form->prepare();
 echo $this->form()->openTag($form);
 echo $this->formHidden($form->get('id'));
 echo $this->formHidden($form->get('id_turista'));
?>

<p><b>Data:</b></p>
<p><?php echo $this->formRow($form->get('data'));?></p>
<p><b>Descricao:</b></p>
<p><?php echo $this->formRow($form->get('descricao'));?></p>
<p><?php echo $this->formSubmit($form->get('submit'));?></p>

<?php
echo $this->form()->closeTag();

?>
