<strong>Module:</strong>        Percurso &raquo;
<strong>Controller:</strong>    Percurso &raquo;
<strong>Action:</strong>        Index

<?php
$title = 'Percursos';
 $this->headTitle($title);
 ?>
 <h1><?php echo $this->escapeHtml($title); ?></h1>
 <p>
     <a href="<?php echo $this->url('percurso',
             array('action'=>'novo'));?>">Adicionar um Novo Percurso</a>
 </p>
 
 <table class="table">
 <tr>
     <th>Descricao</th>
     <th>Data</th>
     <th>Turista</th>
     <th>&nbsp;</th>
     <th>&nbsp;</th>
 </tr>
 <?php foreach ($percursos as $percurso) : ?>
 <tr>
     <td><?php echo $this->escapeHtml($percurso->descricao);?></td>
     <td><?php echo $this->escapeHtml($percurso->data);?></td>
     <td><?php echo $this->escapeHtml($percurso->nome);?></td>
     <td>
     <a href="<?php echo $this->url('percurso',
             array('action'=>'pontospassagem', 
                 'id' => $percurso->id
            ));?>">Ver</a>
      |
     <a href="<?php echo $this->url('percurso',
             array('action'=>'edit', 
                 'id' => $percurso->id
            ));?>">Edit</a>
	</td>
     <?php if ($_SESSION['turista']==$percurso->id_turista): ?>
     <td>
     <a href="<?php echo $this->url('percurso',
             array('action'=>'delete', 'id' => $percurso->id));?>">Remover</a>
     <?php endif;?>
     </td>
 </tr>
 <?php endforeach; ?>
 </table>