<strong>Module:</strong>        Percurso &raquo;
<strong>Controller:</strong>    Percurso &raquo;
<strong>Action:</strong>        POI

<?php
$title = 'Pontos de Interesse';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<table class="table">
 <tr>
     <th>Nome</th>
     <th>Descricao</th>
     <th>GPS Lat</th>
     <th>GPS Long</th>
     <th>&nbsp;</th>
     <th>&nbsp;</th>
 </tr>
 
 <?php foreach ($pois as $p) : ?>
  <tr>
  <td><?php echo $this->escapeHtml($p->Nome);?></td>
  <td><?php echo $this->escapeHtml($p->Descricao);?></td>
  <td><?php echo $this->escapeHtml($p->GPS_Lat);?></td>
  <td><?php echo $this->escapeHtml($p->GPS_Long);?></td>
 <td>
  <a href="<?php echo $this->url('percurso',
            array('action'=>'consulta', 'id' => $p->ID,'param1'=>$percurso));?>">Consultar</a>
	</td>
	<td>
  <a href="<?php echo $this->url('percurso',
            array('action'=>'addpoi', 
                 'id' => $percurso,
                'param1' => $p->Nome,
                'param2' => $p->Descricao,
                'param3' => $p->GPS_Lat,
                'param4' => $p->GPS_Long,
                'param5' => $p->ID
            ));?>">Adicionar</a>
	</td>
 </tr>
  <?php endforeach; ?>
 </table>
 
 <a href="<?php echo $this->url('percurso',
             array('action'=>'pontosinteresse','id'=> $percurso));?>">Voltar</a>
