<strong>Module:</strong>        Percurso &raquo;
<strong>Controller:</strong>    Percurso &raquo;
<strong>Action:</strong>        Pontos de Passagem

<?php
$title = 'Pontos de Passagem';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<?php if ($_SESSION['turista']==$owner): ?>
 <p>
     <a href="<?php echo $this->url('percurso',
             array('action'=>'novoponto',
                    'id'=>$percurso
                    ));?>">Adicionar</a>
 </p>
 <?php endif;?>

<table class="table">
 <tr>
     <th>Nome</th>
     <th>Descricao</th>
     <th>GPS Lat</th>
     <th>GPS Long</th>
     <th>&nbsp;</th>
     <th>&nbsp;</th>
 </tr>
 
 <?php foreach ($pontospassagem as $p) : ?>
 <tr>
     <td><?php echo $this->escapeHtml($p->nome);?></td>
     <td><?php echo $this->escapeHtml($p->descricao);?></td>
     <td><?php echo $this->escapeHtml($p->gps_lat);?></td>
     <td><?php echo $this->escapeHtml($p->gps_long);?></td>
     <td>
         <a href="<?php echo $this->url('percurso',
             array('action'=>'consulta',
                 'id'=>$p->id_poi,
                 'param1'=>$percurso));?>">Consultar</a>
     </td>
     <?php if ($_SESSION['turista']==$owner): ?>
     <td>
         <a href="<?php echo $this->url('percurso',
             array('action'=>'deletepoi',
                    'id'=>$percurso,
                    'param1'=>$p->id
         ));?>">Remover</a>
     </td>
      <?php endif;?>
 </tr>
 <?php endforeach; ?>
 </table>
 
 <a href="<?php echo $this->url('percurso',
             array('action'=>'index'));?>">Voltar</a>