<strong>Module:</strong>        auth &raquo;
<strong>Controller:</strong>    auth &raquo;
<strong>Action:</strong>    	Login
 
 <?php
$title = 'Login';
$this->headTitle($title);
?>
 <h1><?php echo $this->escapeHtml($title); ?></h1>
 <?php
 $form->setAttribute('action', $this->url('auth', array('action' => 'Login')));
 $form->prepare();
 echo $this->form()->openTag($form);
 ?>
 <p><b>Email:</b></p>
 <p><?php echo $this->formRow($form->get('email'));?></p>
 
 <p><b>Password:</b></p>
 <p><?php echo $this->formRow($form->get('password'));?></p>
 
 <p>
 	<a href="<?php echo $this->url('auth',
             array('action'=>'registo'));?>">Novo Utilizador</a>
 </p>
 
 <p>
 	<?php echo $this->formSubmit($form->get('submit'));?>
 </p>
 <?php
 echo $this->form()->closeTag();
 ?>
 
 <h3><?php echo $this->escapeHtml($message); ?></h3>
 