<strong>Module:</strong>        auth &raquo;
<strong>Controller:</strong>    auth &raquo;
<strong>Action:</strong>    	Registo

<?php
$title = 'Registo';
$this->headTitle($title);
?>
 <h1><?php echo $this->escapeHtml($title); ?></h1>
 <?php
 $form->setAttribute('action', $this->url('auth', array('action' => 'registo')));
 $form->prepare();
 echo $this->form()->openTag($form);
 ?>
 <p><b>Nome:</b></p>
 <p><?php echo $this->formRow($form->get('nome'));?></p>
 
 <p><b>Nacionalidade:</b></p>
 <p><?php echo $this->formRow($form->get('nacionalidade'));?></p>
 
 <p><b>Email:</b></p>
 <p><?php echo $this->formRow($form->get('email'));?></p>
 
 <p><b>Password:</b></p>
 <p><?php echo $this->formRow($form->get('password'));?></p>
 
 <p><b>Repetir Password:</b></p>
 <p><?php echo $this->formRow($form->get('password2'));?></p>
 
 <p>
 	<?php echo $this->formSubmit($form->get('submit'));?>
 </p>

 <?php
 echo $this->form()->closeTag();
 ?>
 
 <h3><?php echo $this->escapeHtml($message); ?></h3>
 