<strong>Module:</strong>        Auth &raquo;
<strong>Controller:</strong>    Auth &raquo;
<strong>Action:</strong>        turistas

 <?php
 // module/Album/view/album/album/index.phtml:

 $title = 'My Turistas';
 $this->headTitle($title);
 ?>
 <h1><?php echo $this->escapeHtml($title); ?></h1>

 <table class="table">
 <tr>
     <th>nome</th>
     <th>nacionalidade</th>
     <th>email</th>
     <th>password</th>
 </tr>
 <?php foreach ($turistas as $turista) : ?>
 <tr>
     <td><?php echo $this->escapeHtml($turista->nome);?></td>
     <td><?php echo $this->escapeHtml($turista->nacionalidade);?></td>
     <td><?php echo $this->escapeHtml($turista->email);?></td>
     <td><?php echo $this->escapeHtml($turista->password);?></td>
 </tr>
 <?php endforeach; ?>
 </table>